POSTGRES_DB=autoflow_db
POSTGRES_USER=
POSTGRES_PASSWORD=
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/autoflow_db
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
JWT_SECRET=
JWT_EXPIRATION=3600000
MAIL_USERNAME=autoflow.sistema@gmail.com
MAIL_PASSWORD=
APP_PUBLIC_TOKEN_SECRET="dev-local-secret"