h2[mat-dialog-title] {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
}

mat-dialog-content {
  min-width: 460px;
  padding-top: 8px !important;
}

mat-dialog-actions {
  gap: 8px;
  padding-top: 8px;

  button {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

mat-spinner { display: inline-block; }
